
svg{
	background: white;
	display: block;
	margin: auto;
	padding: 20px;
	border-color: #ccc;
	border-style: solid;
	border-width: .25px;
}

pre{
	margin: 0;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.center_block{
	background: white;
	margin: auto;
	border-radius: 10px;
	width: 960px;
}


.center_title{
	padding-bottom: 5px;
	margin: auto;
	width: 960px;
}

.tabs{
	padding: 0;
    margin: 0;
    padding-top: 5px;
}



.tabs a {
    padding: 5px 10px;
    display: inline-block;
    background: white;
    color: black;
    text-decoration: none;
    border-color: #ccc;
	border-style: solid;
	border-top-width: 0.25px;
    border-right-width: 0.25px;
    border-bottom-width: 0;
    border-left-width: 0.25px;
}

.tabs li {
    list-style: none;
    display: inline;
}

.active{
	background: #ccc !important;
}

.col-md-12
{
	padding-bottom: 20px;
}

.author{
	color:gray;
}

.hljs-keyword{
	color: blue;
}
.hljs-string, .hljs-regexp{
	color: red;
}

.hljs-built_in{
	color: green;
}

.hljs-params{
	color: black;
}

.hljs-number{
	color: purple;
}


.hljs-title{
	color: green;
}

.hljs{
	color:black;
}

#title{
	margin-bottom: 0;
    margin-top: 0;
}